.menu-columns-third[data-v-c6ac916e] {
  background: #fff;
  flex: auto;
  display: flex;
  flex-direction: column;
  font-size: 0.24rem;
  color: #333;
  border-top: 1px solid #dfdfdf;
  height: 100%;
}
.menu-columns-third .menu-content[data-v-c6ac916e] {
  flex: auto;
  display: flex;
  height: 1px;
}
.menu-columns-third .menu-content .menu-main[data-v-c6ac916e] {
  flex: none;
  width: 2.66rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.menu-columns-third .menu-content .menu-main ul li[data-v-c6ac916e] {
  line-height: 0.7rem;
  padding: 0 0.1rem 0 0.28rem;
  border-bottom: 1px solid #dfdfdf;
  height: 0.7rem;
}
.menu-columns-third .menu-content .menu-main ul li.menu-lines[data-v-c6ac916e] {
  line-height: 0.35rem;
}
.menu-columns-third .menu-content .menu-main ul li.menu-active[data-v-c6ac916e] {
  background: #f6f6f6;
}
.menu-columns-third .menu-content .menu-main ul li.menu-has-selected[data-v-c6ac916e] {
  color: #1482f0;
}
.menu-columns-third .menu-content .menu-second[data-v-c6ac916e] {
  flex: auto;
  background: #f6f6f6;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
@keyframes max-height-data-v-c6ac916e {
0% {
    max-height: 0;
}
100% {
    max-height: 8rem;
}
}
.menu-columns-third .menu-content .menu-second .third-enter-active[data-v-c6ac916e] {
  animation: max-height-data-v-c6ac916e 0.2s;
  overflow: hidden;
}
.menu-columns-third .menu-content .menu-second .third-leave-active[data-v-c6ac916e] {
  animation: max-height-data-v-c6ac916e 0.2s reverse;
  overflow: hidden;
}
.menu-columns-third .menu-content .menu-second ul li[data-v-c6ac916e] {
  border-bottom: 1px solid #dfdfdf;
  min-height: 0.7rem;
}
.menu-columns-third .menu-content .menu-second ul li ul[data-v-c6ac916e] {
  border-top: 1px solid #dfdfdf;
}
.menu-columns-third .menu-content .menu-second ul li ul li[data-v-c6ac916e] {
  padding: 0 0.24rem 0 0.88rem;
}
.menu-columns-third .menu-content .menu-second ul li ul li[data-v-c6ac916e]:last-of-type {
  border-bottom: none;
}
.menu-columns-third .menu-content .menu-second ul li ul li label[data-v-c6ac916e] {
  padding-left: 0.1rem;
}
.menu-columns-third .menu-content .menu-second ul li ul li label input[data-v-c6ac916e] {
  left: auto;
  right: 0rem;
}
.menu-columns-third .menu-content .menu-second ul li > div[data-v-c6ac916e] {
  display: flex;
  padding: 0rem 0.24rem 0rem 0rem;
  position: relative;
}
.menu-columns-third .menu-content .menu-second ul li > div > label span[data-v-c6ac916e] {
  position: absolute;
  right: 0.42rem;
}
.menu-columns-third .menu-content .menu-second ul li > div > a[data-v-c6ac916e] {
  display: block;
  position: relative;
  flex: none;
  width: 0.36rem;
}
.menu-columns-third .menu-content .menu-second ul li > div > a span[data-v-c6ac916e] {
  display: block;
  position: absolute;
  width: 0.8rem;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.menu-columns-third .menu-content .menu-second ul li > div > a[data-v-c6ac916e]:after {
  content: '';
  position: absolute;
  top: 40%;
  left: 80%;
  width: 0.1rem;
  height: 0.1rem;
  transform: rotate(-45deg);
  border-left: 1px solid #1482f0;
  border-bottom: 1px solid #1482f0;
  transition: all 0.3s;
}
.menu-columns-third .menu-content .menu-second ul li > div > a.menu-open[data-v-c6ac916e]:after {
  top: 45%;
  transform: rotate(135deg);
}
.menu-columns-third .menu-content .menu-second ul li.menu-selected-item > div[data-v-c6ac916e],
.menu-columns-third .menu-content .menu-second ul li.menu-selected-item > label[data-v-c6ac916e] {
  color: #1482f0;
}
.menu-columns-third .menu-content .menu-second ul li.menu-lines label[data-v-c6ac916e] {
  line-height: 0.35rem;
}
.menu-columns-third .menu-content .menu-second ul li label[data-v-c6ac916e] {
  display: block;
  line-height: 0.38rem;
  flex: auto;
  overflow: hidden;
  position: relative;
  padding: 0.16rem 0.42rem 0.16rem 0.24rem;
}
.menu-columns-third .menu-content .menu-second ul li label input[data-v-c6ac916e] {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.menu-columns-third .menu-content .menu-second ul li label input[data-v-c6ac916e]:after {
  background-color: #f6f6f6 !important;
}
