<!DOCTYPE html>
<html lang="zh-cmn-Hans" style="height: 100%;background-color: #f6f6f6;">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>三类地区组件</title>
  <link rel="stylesheet" href="https://cdn.finchina.com/app/app_dependent_file/vant/2.10.6/index.css" />
  <script src="https://cdn.finchina.com/app/app_dependent_file/vue/2.6.9/vue.min.js"></script>
  <script src="https://cdn.finchina.com/app/app_dependent_file/vant/2.10.6/vant.min.js"></script>

  <% for (const chunk in htmlWebpackPlugin.files.css) { %>
    <link rel="prefetch" href="<%= htmlWebpackPlugin.files.css[chunk] %>" />
    <% } %>
      <% for (const chunk in htmlWebpackPlugin.files.chunks) { %>
        <link rel="prefetch" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" />
        <% } %>

          <style>
            body {
              font-family: 'PingFangSC, PingFangSC-Regular' !important;
            }
          </style>
</head>

<body style="visibility: hidden;background-color: #fff;height: 100%;">
  <div id="app"></div>
</body>

</html>